!/.gitignore
!/.travis.yml
*.conf
*.crt
*.csr
*.db-journal
*.key
*.pid
*.sqlite
*.xml
#.*
.google.token
.spotify-token-cache
.uuid
/icloud/*
/old
/tts
OZW_Log.txt
deps
deps/*
docker-compose.yml
harmony_media_room.conf
home-assistant.db
home-assistant.log
home-assistant.log*
home-assistant_v2.db
html5_push_registrations.conf
ip_bans.yaml
known_devices.yaml
lib
phue.conf
plex.conf
pyozw.sqlite
secrets.yaml
tts
homeassistant_id_rsa
homeassistant_id_rsa.pub
google_calendars.yaml
.shopping_list.json
__pycache__
__pycache__
/appdaemon/compiled/
.cloud/production_auth.json
.config_entries.json
