homeassistant: !include config/core/homeassistant.yaml
influxdb: !include config/core/influxdb.yaml

conversation:
discovery:
config:

frontend:
history: !include config/core/history.yaml
http: !include config/core/http.yaml
recorder: !include config/core/recorder.yaml
sun:
updater:
  include_used_components: true
zeroconf:
tts:
  - platform: google
    language: 'de'
    cache: true
    cache_dir: 'tts'
homematic: !include config/core/homematic.yaml

#input_select: !include input_select.yaml
#weblink: !include weblink.yaml
alert: !include_dir_named config/alerts
alarm_control_panel: !include config/alarm_control_panel.yaml
apiai:
shopping_list:
intent_script: !include_dir_merge_named config/intent_script/
automation: !include_dir_merge_list config/automation/
binary_sensor: !include_dir_merge_list config/devices/binary_sensors/
cover:
  - platform: rfxtrx
    automatic_add: True
device_tracker: !include config/devices/device_tracker.yaml
group: !include_dir_named config/groups/
light: !include_dir_merge_list config/devices/lights/
logger: !include config/core/logger.yaml
media_player: !include config/devices/media_player.yaml
notify: !include config/notify.yaml
panel_iframe: !include config/panel_iframe.yaml
panel_custom: !include_dir_merge_list config/panel_custom/
proximity: !include config/proximity.yaml
script: !include_dir_named config/scripts/
sensor: !include_dir_merge_list config/devices/sensors/
shell_command: !include config/shell_command.yaml
switch: !include_dir_merge_list config/devices/switches/
zone: !include_dir_merge_list config/zones/

#scene: !include_dir_merge_list scenes
rfxtrx: !include config/core/rfxtrx.yaml

mqtt: !include config/core/mqtt.yaml

google:
  client_id: !secret HA_GOOGLE_OAUTH_ID
  client_secret: !secret HA_GOOGLE_OAUTH_SECRET

zwave: !include config/core/zwave.yaml
